:root {
  --clr-primary-100: #3556ab;
  --clr-primary-300: #071d55;
  --clr-primary-400: #cde53d;
  --clr-primary-500: #37456a;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #f0f0f0;
  --clr-neutral-300: #f3f3f3;
  --clr-neutral-350: #333;
  --clr-neutral-400: #1c1c1c;
  --clr-neutral-900: #000;
}
