@use '../abstracts' as *;

.todo-container {
  background-color: var(--clr-neutral-300);
  position: relative;
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;

  .user-info {
    @include flex(flex-start, justify-start);
    background-color: var(--clr-primary-100);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);

    color: var(--clr-neutral-100);
    gap: 1rem;
    padding: 1.3rem 1.7rem;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    h2 {
      font-size: 0.9rem;
      line-height: 1;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
      margin-bottom: 0.7rem;
    }

    p {
      font-weight: 100;
      font-size: 1.5rem;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
      font-style: italic;
      max-width: 300px;
      line-height: 1.1;
    }
  }

  .go-pro {
    position: relative;
    background-color: var(--clr-primary-400);
    padding: 1.3rem 1.7rem;
    @include flex(center, flex-start);
    column-gap: 1.5rem;
    border: 2px solid #9eb031;

    img {
      width: 45px;
    }

    p {
      color: var(--clr-primary-300);
      font-weight: 700;
    }

    span {
      background-color: var(--clr-primary-300);
      color: #f2c94c;
      padding: 1rem;
      position: absolute;
      top: -0.15rem;
      right: 1rem;
    }
  }

  //   Todos
  .todos {
    margin-top: 1rem;
    padding-inline: 1rem;

    .todo {
      @include flex(center, space-between);
      position: relative;
      border: 1px solid #fff;
      width: 100%;
      padding: 1rem;
      background-color: var(--clr-neutral-100);
      box-shadow: 0px 4px 4px 0px #0000001a;
      border-radius: 0.5rem;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      span {
        margin-left: 1rem;
        padding: 0.2rem;
        color: var(--clr-primary-300);
        font-weight: 500;

        &:focus {
          outline: none;
        }

        &.completed {
          color: #8d8d8d;
        }
      }

      .flex {
        @include flex(center, flex-start);
        position: relative;
        width: 65%;
      }

      input[type='checkbox'] {
        position: relative;
        top: -0.1rem;
        appearance: none;
        height: 30px;
        width: 30px;
        background-color: transparent;
        border-radius: 50%;
        border: 1.5px solid var(--clr-primary-300);
        cursor: pointer;
        display: grid;
        place-content: center;
        transition: all 250ms ease-in-out;

        &::before {
          content: url(../assets/icon-check.svg);
          height: 10px;
          width: 10px;
          line-height: 10px;
          position: relative;
          left: -0.1rem;
          display: grid;
          place-items: center;
          @include image-property(contain);
          transform: scale(0);
          transition: all 250ms ease-in-out;
        }

        &:checked {
          background: #53da69;
          border: 2px solid #53da69;
        }

        &:checked::before {
          transform: scale(1);
        }
      }

      input[type='text'] {
        border: none;
        left: 3rem;
        width: 100%;
        font-family: inherit;
        padding-block: 1rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        color: #0d2972;
        position: absolute;

        &:focus {
          outline: none;
        }
      }

      .edit-btn {
        color: var(--clr-primary-300);
        border-radius: 0.5rem;
        padding: 0.8rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        border: 1.5px solid var(--clr-primary-300);
      }

      &.completed {
        text-decoration: line-through;
        color: #8d8d8d;
        font-weight: 300;
      }
    }
  }

  //   Update button
  .update {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    .btn {
      height: 50px;
      width: 50px;
      padding: 1rem;
      background-color: #123eb1;
      color: var(--clr-neutral-100);
      border-radius: 50%;
      cursor: pointer;

      i {
        font-size: 1.3rem;
      }
    }
  }
}
